.popup__fieldset-container {
    border: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 645px) {
    .popup__fieldset-container {
        width: 238px;
        margin: 0 22px 0;
    }
}