.cards__caption {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    max-width: 282px;
    max-height: 23px;
    padding: 25px 15px 31px 21px;
    align-items: center;
}