.popup__button-save_dasabled {
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
    opacity: .2;
  }
  
.popup__button-save_dasabled:hover {
    background-color: transparent;
  }